mat-sidenav-container{
    height: 100%;
    width: 100%;
}

mat-form-field{
    width:100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

mat-select{
    text-align: center;
}

