<mat-sidenav-container>
    <div class="overlay"></div>

    <div class="text">
        <div class="wrapper">
            <div id="D" class="letter">D</div>
            <div class="shadow">D</div>
        </div>
        <div class="wrapper">
            <div id="B" class="letter">B</div>
            <div class="shadow">B</div>
        </div>
        <div class="wrapper">
            <div id="M" class="letter">M</div>
            <div class="shadow">M</div>
        </div>
        <div class="wrapper">
            <div id="S" class="letter">S</div>
            <div class="shadow">S</div>
        </div>
        <div class="wrapper">
            <div id="-" class="letter">-</div>
            <div class="shadow">-</div>
        </div>
        <div class="wrapper">
            <div id="P" class="letter">P</div>
            <div class="shadow">P</div>
        </div>
        <div class="wrapper">
            <div id="R" class="letter">R</div>
            <div class="shadow">R</div>
        </div>
        <div class="wrapper">
            <div id="O" class="letter">O</div>
            <div class="shadow">O</div>
        </div>
        <div class="wrapper">
            <div id="J" class="letter">J</div>
            <div class="shadow">J</div>
        </div>

        <div class="wrapper">
            <div id="E" class="letter">E</div>
            <div class="shadow">E</div>
        </div>

        <div class="wrapper">
            <div class="letter" id="C">C</div>
            <div class="shadow">C</div>
        </div>

        <div class="wrapper">
            <div class="letter" id="T">T</div>
            <div class="shadow">T</div>
        </div>
    </div>

</mat-sidenav-container>